In [1]:
import pandas as pd
import pyarrow.parquet as pq
import gzip

In [2]:
# Funcion 2
parquet_ruta_fc2 = "df_funciones/df_user_for_genre.parquet"
df_funcion_UserForGenre = pd.read_parquet(parquet_ruta_fc2)

In [3]:
df_funcion_UserForGenre_reducida = df_funcion_UserForGenre.copy()

In [5]:
df_funcion_UserForGenre_reducida = df_funcion_UserForGenre_reducida.drop(columns='title')

In [7]:
# Define cuántas filas quieres mantener (ajusta según sea necesario)
filas_a_mantener = 400000

# Elimina las filas más recientes
df_funcion_UserForGenre_reducida = df_funcion_UserForGenre_reducida.head(filas_a_mantener)

In [8]:
df_funcion_UserForGenre_reducida

,user_id,playtime_forever,item_name,genres
0,76561197970982479,6.0,Counter-Strike,Action
1,js41637,0.0,Counter-Strike,Action
2,Riot-Punch,0.0,Counter-Strike,Action
3,doctr,93.0,Counter-Strike,Action
4,corrupted_soul,108.0,Counter-Strike,Action
...,...,...,...,...
399995,76561198059014191,65.0,Arma 2: Operation Arrowhead,Strategy
399996,1-800-Invisible,16.0,Arma 2: Operation Arrowhead,Action
399997,1-800-Invisible,16.0,Arma 2: Operation Arrowhead,Simulation
399998,1-800-Invisible,16.0,Arma 2: Operation Arrowhead,Strategy
399999,savingprivatellama,10.0,Arma 2: Operation Arrowhead,Action

In [9]:
df_funcion_UserForGenre_reducida.to_parquet('df_funciones/df_funcion_UserForGenre_reducida.parquet')

----
---
---
---

In [10]:
# Funcion 1
parquet_ruta_fc1 = "df_funciones/df_funcion_PlayTimeGenre.parquet"
df_funcion_PlaytimeGenre = pd.read_parquet(parquet_ruta_fc1)

In [11]:
df_funcion_PlaytimeGenre

,steam_id,item_id,item_name,playtime_forever,id,genres,title,year
0,76561197970982479,10.0,Counter-Strike,6.0,10,Action,Counter-Strike,2000
1,76561198035864385,10.0,Counter-Strike,0.0,10,Action,Counter-Strike,2000
2,76561197963445855,10.0,Counter-Strike,0.0,10,Action,Counter-Strike,2000
3,76561198002099482,10.0,Counter-Strike,93.0,10,Action,Counter-Strike,2000
4,76561198007659921,10.0,Counter-Strike,108.0,10,Action,Counter-Strike,2000
...,...,...,...,...,...,...,...,...
7410594,76561198071808318,444770.0,Mimpi Dreams,46.0,444770,Indie,Mimpi Dreams,2016
7410595,76561198107283457,354280.0,ChaosTower,164.0,354280,Action,ChaosTower,2016
7410596,76561198107283457,354280.0,ChaosTower,164.0,354280,Casual,ChaosTower,2016
7410597,76561198107283457,354280.0,ChaosTower,164.0,354280,Indie,ChaosTower,2016
7410598,76561198107283457,354280.0,ChaosTower,164.0,354280,Simulation,ChaosTower,2016

In [12]:
df_funcion_PlaytimeGenre_reducido = df_funcion_PlaytimeGenre.drop(columns=['steam_id', 'id', 'title'])

In [13]:
# Define cuántas filas quieres mantener (ajusta según sea necesario)
filas_a_mantener_2 = 400000

# Elimina las filas más recientes
df_funcion_PlaytimeGenre_reducido = df_funcion_PlaytimeGenre_reducido.head(filas_a_mantener_2)

In [ ]:
df_funcion_PlaytimeGenre_reducido.to_parquet('df_funciones/df_funcion_PlayTimeGenre_reducido.parquet')

----

Funcion 1

In [9]:
parquet_ruta_fc1 = "df_funciones/df_funcion_PlayTimeGenre.parquet"
df_funcion_PlaytimeGenre = pd.read_parquet(parquet_ruta_fc1)

In [11]:
# Ruta de destino para el archivo Parquet comprimido con gzip
output_path = 'df_funciones/df_funcion_PlayTimeGenre_gzip.parquet'

# Escribir el DataFrame en un archivo Parquet comprimido con gzip
df_funcion_PlaytimeGenre.to_parquet(output_path, compression='gzip')

In [12]:
parquet_file_path1 = "df_funciones/df_funcion_PlayTimeGenre_gzip.parquet"

In [13]:
parquet_file1 = pq.ParquetFile(parquet_file_path1)

In [20]:
parquet_file1

Para tomar muestra del data frame

In [18]:
sample_percent = 5
# Lee una muestra del archivo Parquet con pyarrow
parquet_file1 = pq.ParquetFile(parquet_file_path1)
# Cuenta las filas
total_rows1 = parquet_file1.metadata.num_rows
# Toma un % de muestra
sample_rows1 = int(total_rows1 * (sample_percent / 100.0))
df_PlayTimeGenre_muestra = parquet_file1.read_row_groups(row_groups=[0]).to_pandas().head(sample_rows1//80)

# PROCEDIMIENTO A HACER Y PROBAR

Funcion 2

In [23]:
# Funcion 2
parquet_ruta_fc2 = "df_funciones/df_user_for_genre.parquet"
df_funcion_UserForGenre = pd.read_parquet(parquet_ruta_fc2)

In [24]:
# Ruta de destino para el archivo Parquet comprimido con gzip
output_path2 = 'df_funciones/df_user_for_genre_gzip.parquet'

# Escribir el DataFrame en un archivo Parquet comprimido con gzip
df_funcion_UserForGenre.to_parquet(output_path2, compression='gzip')

In [27]:
parquet_file_path2 = 'df_funciones/df_user_for_genre_gzip.parquet'

In [29]:
parquet_file2 = pq.ParquetFile(parquet_file_path2)

In [30]:
parquet_file2

In [31]:
sample_percent = 5
# Lee una muestra del archivo Parquet con pyarrow
parquet_file2 = pq.ParquetFile(parquet_file_path2)
# Cuenta las filas
total_rows2 = parquet_file2.metadata.num_rows
# Toma un % de muestra
sample_rows2 = int(total_rows2 * (sample_percent / 100.0))
df_funcion_UserForGenre = parquet_file1.read_row_groups(row_groups=[0]).to_pandas().head(sample_rows1//80)

# Tomamos muestra aleatoria, reducida y eliminamos columnas demas

# Funcion 1

In [2]:
parquet_ruta_fc1 = "df_funciones/df_funcion_PlayTimeGenre.parquet"
df_funcion_PlaytimeGenre = pd.read_parquet(parquet_ruta_fc1)

In [7]:
# Especifica el porcentaje de muestra deseado
sample_percent_1 = 5  # Por ejemplo, toma el 20% de las filas

# Toma una muestra aleatoria del DataFrame
df_funcion_PlaytimeGenre_reducido = df_funcion_PlaytimeGenre.sample(frac=sample_percent_1/100.0, random_state=42) # Puedes ajustar el random_state según tus necesidades

# Elimino columnas demas
df_funcion_PlaytimeGenre_reducido = df_funcion_PlaytimeGenre_reducido.drop(columns=['item_id', 'item_name'])

# Resetear indice
df_funcion_PlaytimeGenre_reducido = df_funcion_PlaytimeGenre_reducido.reset_index(drop=True)

In [33]:
df_funcion_PlaytimeGenre_reducido.head()

   playtime_forever     genres  year
0               0.0     Action  1999
1             223.0     Action  2001
2             279.0     Action  1998
3             621.0     Action  2007
4            2607.0  Adventure  2010

In [9]:
df_funcion_PlaytimeGenre_reducido.to_parquet('df_funciones/df_funcion_PlaytimeGenre2_reducido.parquet')

Ese data frame para mi es mejor y es chico

# Funcion 2

In [10]:
parquet_ruta_fc2 = "df_funciones/df_user_for_genre.parquet"
df_funcion_UserForGenre = pd.read_parquet(parquet_ruta_fc2)

In [12]:
# Especifica el porcentaje de muestra deseado
sample_percent_2 = 5

# Toma una muestra aleatoria del DataFrame
df_funcion_UserForGenre_reducido = df_funcion_UserForGenre.sample(frac=sample_percent_2/100.0, random_state=42) # Puedes ajustar el random_state según tus necesidades

# Elimino columnas demas
df_funcion_UserForGenre_reducido = df_funcion_UserForGenre_reducido.drop(columns=['item_name'])

# Resetear indice
df_funcion_UserForGenre_reducido = df_funcion_UserForGenre_reducido.reset_index(drop=True)

df_funcion_UserForGenre_reducido

                 user_id  playtime_forever     genres
0      76561198073732200               0.0     Action
1      76561197967947947             223.0     Action
2      76561198084214678             279.0     Action
3                azza213             621.0     Action
4      76561198012248864            2607.0  Adventure
...                  ...               ...        ...
19995  76561198095759305               0.0     Action
19996            WingsHD               2.0     Action
19997    TheAnonymousOne             165.0     Action
19998          margeobur               0.0     Action
19999            bigluan            1417.0   Strategy

[20000 rows x 3 columns]

In [13]:
df_funcion_UserForGenre_reducido.to_parquet('df_funciones/df_funcion_UserForGenre_reducido.parquet')

# Funcion 3

In [14]:
# Funcion 3
users_reviews_fc3 = pd.read_csv('df_funciones/users_reviews_fc3.csv')
listado_juegos_sin_repetidos = pd.read_csv('df_funciones/listado_juegos_sin_repetidos.csv')

In [15]:
listado_juegos_sin_repetidos.to_parquet('df_funciones/listado_juegos_sin_repetidos.parquet')

In [17]:
# Especifica el porcentaje de muestra deseado
sample_percent_3 = 5

# Toma una muestra aleatoria del DataFrame
users_reviews_fc3_reducido = users_reviews_fc3.sample(frac=sample_percent_3/100.0, random_state=42) # Puedes ajustar el random_state según tus necesidades

# Resetear indice
users_reviews_fc3_reducido = users_reviews_fc3_reducido.reset_index(drop=True)

users_reviews_fc3_reducido

      recommend  sentiment_analysis   item_id  year
0          True                   0  238010.0  2014
1         False                   2  333930.0  2015
2          True                   2    4000.0  2013
3          True                   0     730.0  2014
4          True                   2  219830.0  2014
...         ...                 ...       ...   ...
2420       True                   2  323370.0  2015
2421       True                   2     570.0  2015
2422       True                   2  230410.0  2013
2423       True                   0   72850.0  2014
2424       True                   2     500.0  2013

[2425 rows x 4 columns]

In [18]:
users_reviews_fc3_reducido.to_parquet('df_funciones/users_reviews_fc3_reducido.parquet')

# Funcion 4

In [19]:
# Funcion 4
df_funcion_UsersWorstDeveloper = pd.read_csv('df_funciones/df_funcion_UsersWorstDeveloper.csv')

In [22]:
# Especifica el porcentaje de muestra deseado
sample_percent_4 = 5

# Toma una muestra aleatoria del DataFrame
df_funcion_UsersWorstDeveloper_reducido = df_funcion_UsersWorstDeveloper.sample(frac=sample_percent_4/100.0, random_state=42) # Puedes ajustar el random_state según tus necesidades

# Elimino columnas demas
df_funcion_UsersWorstDeveloper_reducido = df_funcion_UsersWorstDeveloper_reducido.drop(columns=['item_id', 'title'])

# Resetear indice
df_funcion_UsersWorstDeveloper_reducido = df_funcion_UsersWorstDeveloper_reducido.reset_index(drop=True)

df_funcion_UsersWorstDeveloper_reducido

,recommend,sentiment_analysis,year,developer
0,True,0,2014,"Eidos Montreal,Feral Interactive (Mac)"
1,False,2,2015,NaN
2,True,2,2013,Facepunch Studios
3,True,0,2014,Valve
4,True,2,2014,Transhuman Design
...,...,...,...,...
2420,True,2,2015,"Bluehole, Inc."
2421,True,2,2015,NaN
2422,True,2,2013,Digital Extremes
2423,True,0,2014,NaN
2424,True,2,2013,Valve

In [23]:
df_funcion_UsersWorstDeveloper_reducido.to_parquet('df_funciones/df_funcion_UsersWorstDeveloper_reducido.parquet')

# Funcion 5

In [24]:
# Funcion 5
df_funcion_sentiment_analysis = pd.read_csv('df_funciones/df_funcion_sentiment_analysis.csv')

In [26]:
# Especifica el porcentaje de muestra deseado
sample_percent_5 = 5

# Toma una muestra aleatoria del DataFrame
df_funcion_sentiment_analysis_reducido = df_funcion_sentiment_analysis.sample(frac=sample_percent_5/100.0, random_state=42) # Puedes ajustar el random_state según tus necesidades

# Elimino columnas demas
df_funcion_sentiment_analysis_reducido = df_funcion_sentiment_analysis_reducido.drop(columns=['item_id', 'item_name'])

# Resetear indice
df_funcion_sentiment_analysis_reducido = df_funcion_sentiment_analysis_reducido.reset_index(drop=True)

df_funcion_sentiment_analysis_reducido

                              developer  sentiment_analysis
0                                 Valve                 0.0
1                                 Valve                 0.0
2                           Chucklefish                 2.0
3               Double Fine Productions                 2.0
4     Edmund McMillen and Florian Himsl                 2.0
...                                 ...                 ...
1974                Turtle Rock Studios                 2.0
1975                           Treyarch                 2.0
1976             Wastelands Interactive                 NaN
1977                              Valve                 1.0
1978                              Valve                 1.0

[1979 rows x 2 columns]

In [27]:
df_funcion_sentiment_analysis_reducido.to_parquet('df_funciones/df_funcion_sentiment_analysis_reducido.parquet')

# Funcion 6

In [28]:
df_combinado2 = pd.read_parquet("df_funciones/df_recomend_juego_fc6.parquet")

In [29]:
df_recomed_juego = df_combinado2.copy()

In [31]:
# Especifica el porcentaje de muestra deseado
sample_percent_6 = 5

# Toma una muestra aleatoria del DataFrame
df_recomed_juego_reducido = df_recomed_juego.sample(frac=sample_percent_6/100.0, random_state=42) # Puedes ajustar el random_state según tus necesidades

# Elimino columnas demas
df_recomed_juego_reducido = df_recomed_juego_reducido.drop(columns=['developer', 'playtime_forever'])

# Resetear indice
df_recomed_juego_reducido = df_recomed_juego_reducido.reset_index(drop=True)

df_recomed_juego_reducido

           genres                                         title  item_id
0          Action                 Grand Theft Auto: San Andreas    12120
1       Adventure                           The Stanley Parable   221910
2          Action                                       Warface   291480
3          Action                              Fistful of Frags   265630
4        Strategy                                 Europe at War   342370
...           ...                                           ...      ...
156995  Adventure                                    L.A. Noire   110800
156996      Indie                          Realm of the Mad God   200210
156997  Adventure                                     Contagion   238430
156998     Action  Grand Theft Auto: Episodes from Liberty City    12220
156999  Adventure                                    Far Cry® 4   298110

[157000 rows x 3 columns]

In [32]:
df_recomed_juego_reducido.to_parquet('df_funciones/df_recomed_juego_reducido.parquet')